/* Globals */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

ul {
  padding: 0px;
}

/* Mobile Containers */

.modal-inner {
	padding-top:20px;
	padding-right:30%;
	padding-left:30%;
}

@media (max-width: 800px) {
		.modal-inner{
		padding: 10%
	}
}

/* Calender */

#dashboard {
    max-width: 500px;
}

tr, th{
   width: 50px;
   height: 50px;
   cursor: default;
}

td {
  border: solid 0.2px;
  height: 30px;
  width: 35px;
}

/* Add Habit/Edit Habit Poms Counters */
.pomsCounter {
  width: 25%;
  display: inline;
  float: left;
  text-align: center;
}

/* Add Habit/Edit Habit Poms Counters */
@media (max-width: 500px) {
  .pomsCounter {
    width: 50%;
    text-align: center;
  }
}



/* Calender - Mobile */

@media (max-width: 1000px) {
  #dashboard {
    top: 5px;
    padding: 0px 0px 0px 0px;
    float: center;
  }
}

@media (max-width: 400px) {

#mobileLayout, #appContainer, #calender, #habitsPanel {
	padding: 0px;
}

  tr, th {
     width: 5px;
     height: 10px;
  }
}

/* HabitsPanel */

  #habitsPanel {
  
  float:left;
  margin: 120px 0px 0px 0px;
  max-width:250px;
  max-height: 300px;
  overflow: auto;
}

/* HabitsPanel - Mobile */


@media (max-width: 1000px) {

 #habitsPanel {
  float: none;
  margin: 0 auto;
  overflow: inherit;
  max-width: 500px;
 } 
}

